---
import OrangeBox from "../components/OrangeBox.astro";

import Footer from "../components/Footer.astro";
import DropDownPlus from "../components/DropDownPlus.astro";
import Layout from "../layouts/Layout.astro";

//@ts-nocheck

const url =
  "https://evffelaoffslumrthkla.supabase.co/rest/v1/kalender_plugins?select=*";
const key =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV2ZmZlbGFvZmZzbHVtcnRoa2xhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQyNjczMzAsImV4cCI6MjA1OTg0MzMzMH0.IQISTIgMb0f2rhVxPfZjE2st9c7H3A3EHI3DZ-mEHv8";

const options = {
  headers: {
    apiKey: key,
  },
};

const data = await fetch(url, options).then((res) => res.json());
console.log(data);
---

<Layout>
  <body>
    <main>
      <section class="section1">
        <div>
          <h1>Circular Lab</h1>
          <h5>
            Circular Lab er et community lab med fokus på cirkulære
            forretningsmodeller, strategier og design. Circular Lab er for KEAs
            studerende, undervisere og medlemmer af samarbejdende institutioner.
            Circular Lab samarbejder på tværs af de andre labs på KEA. h5
          </h5>
          <p>
            Circular Lab er et multifunktionelt rum, der indbyder til at
            udforske og undersøge nye cirkulære forretningsmodeller, og hvordan
            vi designer cirkulære produkter. Gennem workshops, foredrag,
            community caféer og virksomhedsbesøg åbner vi op for mulighederne,
            der følger med den cirkulære omstilling, og hvordan man kan udforske
            dem igennem praksis og teori. Lab’et bruges til undervisning,
            workshops, arrangementer, udstillinger og eksperimenter. Følg med i
            kalenderen for at se de kommende events og happenings.
          </p>
        </div>
        <OrangeBox />
      </section>
      <section>
        <DropDownPlus
          title="Cirkulær vejledning"
          content="Har du et projekt, hvor du skal tænke cirkulært? Kom ned i labbet og få vejledning i design, materialer, forretningsmodeller og strategier for cirkularitet. Vi hjælper dig med at optimere dit projekt, og du kan få vejledning i de bemandede åbningstider eller booke tid ved at kontakte Nikolaj Storm på circular@kea.dk."
        />

        <DropDownPlus
          title="Cirkulært iværksætteri"
          content="Er du iværksætter med din egen virksomhed, eller en del af KEAs Startup Hub, og ønsker at undersøge mulighederne for at gøre din virksomhed cirkulær i tråd med ny lovgivning? Så book en coaching med Cirkulær lab manager Nikolaj Storm (circular@kea.dk)"
        />

        <DropDownPlus
          title="Cirkulære workshops"
          content="Er du underviser eller studerende, der ønsker et cirkulært indspark i undervisningen? Circular Lab tilbyder workshops og foredrag om cirkularitet og cirkulære forretningsmodeller, baseret på materiale fra Regndans, Ellen McArthur Foundation og Dansk Design Center. Vi skræddersyr workshops til jeres programområde, så både studerende og undervisere bliver klædt på til en cirkulær fremtid."
        />

        <DropDownPlus
          title="Adgang til nyeste forskning"
          content="Hos Circular Lab holder vi os opdaterede på den nyeste forskning inden for cirkularitet. Mange virksomheder og brancher er netop i gang med at implementere forskellige cirkulære forretningsmodeller, og vi følger med for at kunne guide jer til de bedste løsninger netop nu. Så har du brug for den nyeste viden eller savner du noget forskning netop indenfor dit felt? Så kom forbi labbet og hør nærmere."
        />

        <DropDownPlus
          title="Cirkulære foredrag"
          content="Der sker meget inden for cirkularitet, og vi afholder løbende foredrag og events med relevante aktører, så studerende og medarbejdere kan få indsigt i, hvordan cirkularitet arbejdes med i praksis. Bliv inspireret på tværs af brancher og skab nye ideer og cirkulære modeller. Har du en spændende tale, vil vi gerne høre fra dig. Kom forbi labbet og lad os tale om mulighederne. Hold dig opdateret i kalenderen for kommende foredrag."
        />

        <DropDownPlus
          title="Circular skills"
          content="Cirkularitet handler om nye forretningsmuligheder, men kræver også mange værktøjer som reparation, opgraderinger, redesigns og meget mere. Vi afholder løbende workshops med forskellige temaer, hvor vi træner cirkulære skills.Vores workshops er åbne for alle og derfor også en mulighed for at udvide dit cirkulære netværk, men også at få tilegnet nye færdigheder, der måske ligger uden for dit programområde."
        />
      </section>
    </main>
  </body>
  <Footer />
</Layout>

<style>
  @media (min-width: 800px) {
    .section1 {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 20px;
    }
  }
</style>
