---
//@ts-nocheck
import "../css/generel2.css";
import OrangeBox from "../components/OrangeBox.astro";
import CLSection1 from "../components/CLSection1.astro";
import Footer from "../components/Footer.astro";
import DropDownPlus from "../components/DropDownPlus.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import StormInfo from "../components/StormInfo.astro";
import MaterialConnexion from "../components/MaterialConnexion.astro";
import CircularLab from "../components/CircularLab.astro";
import ForsideKalender from "../components/ForsideKalender.astro";
import InstagramSection from "../components/InstagramSection.astro";
import CLSection3 from "../components/CLSection3.astro";

const url =
  "https://evffelaoffslumrthkla.supabase.co/rest/v1/kalender_plugins?select=*";
const key =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV2ZmZlbGFvZmZzbHVtcnRoa2xhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQyNjczMzAsImV4cCI6MjA1OTg0MzMzMH0.IQISTIgMb0f2rhVxPfZjE2st9c7H3A3EHI3DZ-mEHv8";

const options = {
  headers: {
    apiKey: key,
  },
};

const data = await fetch(url, options).then((res) => res.json());
console.log(data);
---

<Layout fanenavn={"KEA - Circular Lab"}>
  <body>
    <Header />
    <section class="hero">
      <img src="/heroimg.webp" alt="Beskrivelse af billedet" />
    </section>
    <main>
      <CLSection1 />
    </main>
  </body>
  <ForsideKalender />
  <CLSection3 />
  <InstagramSection />
  <CircularLab />
  <MaterialConnexion />

  <StormInfo />
  <Footer />
</Layout>

<style>
  .section1 {
    margin-bottom: 40px;
    padding: 5rem 0rem;
  }
  .textbox {
    margin-bottom: 30px;
  }

  h5 {
    line-height: 2rem;
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 14px;
  }
  @media (min-width: 800px) {
    .section1 {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 70px;
      margin: 40px 0;
    }

    .textbox {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .section3_frame {
      padding: 1rem;
      display: flex;
      flex-direction: column;
    }

    .section3 {
      display: grid;
      max-width: 1200px;
      grid-template-columns: 1fr 2fr;
      padding: 8rem 2rem;
    }
  }
</style>
