---
import Layout from "../layouts/Layout.astro";
import "../css/generel2.css";
import Header from "../components/Header.astro";
import StormInfo from "../components/StormInfo.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header />
  <main>
    <h1>Events i Circular Lab</h1>
    <h5>
      Følg med her i kalenderen og hold dig opdateret på, hvad der sker i
      Circular Lab. Vejledninger, foredrag, events og lignende vil løbende blive
      lagt ind i kalenderen.
    </h5>

    <h4>April 2025</h4>

    <h4>Maj 2025</h4>

    <h4>Juni 2025</h4>
  </main>
  <StormInfo />
  <Footer />
</Layout>

<style>
  h1 {
    margin-top: 8rem;
    font-family: "robotobold_condensed";
  }

  main {
    max-width: 1100px;
    margin: 0 auto;
  }

  h4 {
    margin-top: 6rem;
  }
</style>
