---
//@ts-nocheck

import Layout from "../layouts/Layout.astro";
import "../css/generel2.css";
import Header from "../components/Header.astro";
import StormInfo from "../components/StormInfo.astro";
import Footer from "../components/Footer.astro";
import EventCard from "../components/EventCard.astro";
import EventCardMaj from "../components/EventCardMaj.astro";
import EventCardJune from "../components/EventCardJune.astro";
---

<Layout>
  <Header />
  <main>
    <h1>Events i Circular Lab</h1>
    <h5>
      Følg med her i kalenderen og hold dig opdateret på, hvad der sker i
      Circular Lab. Vejledninger, foredrag, events og lignende vil løbende blive
      lagt ind i kalenderen.
    </h5>

    <h4>// April 2025</h4>
    <div class="grid_1-1-1">
      <EventCard />
    </div>

    <h4>// Maj 2025</h4>
    <div class="grid_1-1-1">
      <EventCardMaj />
    </div>

    <h4>// Juni 2025</h4>
    <div class="grid_1-1-1">
      <EventCardJune />
    </div>
  </main>
  <StormInfo />
  <Footer />
</Layout>

<style>
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-bottom: 8rem;
  }
  h4 {
    margin-top: 4rem;
  }
  h5 {
    font-family: "robotobold_condensed";
    font-size: 1.2rem;
    font-weight: 400;
    font-style: normal;
    max-width: 75ch;
    line-height: 1.9rem;
    color: var(--primarytext);
  }

  h1 {
    margin-top: 8rem;
  }
</style>
