---
import "../css/generel2.css";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section>
    <div class="grid_2-1">
      <div class="container2">
        <h4>Adgang til Circular lab</h4>

        <p>
          Du er velkommen til at benytte lokalet til gruppearbejde eller andet. 
          <a href="/overview">Tjek kalenderen</a> for at se, om der er planlagt undervisning
          i lokalet. <br /><br />

          Der er adgang til Material Connexion igennem labbet, hvis du gerne vil
          låne prøverne med i undervisning eller andet – så skriv venligst til  <span
            >circular@kea.dk</span
          >
          <br />
          <br />

          Der vil løbende være udstillinger og cirkulære projekter på display i
          labbet. Har du yderligere spørgsmål til disse, kan du også række ud
          til <span>lab manager Nikolaj Storm.</span>

          <br />
          <br />
          Vi arbejder lige nu at oprette KEAs Cirkulære Materiale bibliotek med gode
          samarbejdspartnere. Materialerne er på udstilling i labbet. Har du spørgsmål
          til materialerne, indkøb eller virksomhederne, så <span
            >tag også fat i lab manager Nikolaj Storm</span
          > for mere information.
        </p>
        <h5>Åbningstider i Circular Lab</h5>
        <p class="gap">Mandag - fredag: kl. 8.30 - 22.00</p>
      </div>
      <div class="container1">
        <h5 class="adresse">Adresse</h5>
        <p class="adresse2">
          Adresse Material ConneXion ligger på Guldbergsgade 29N, bygning A,
          lokale A129. Du finder indgangen igennem biblioteket.
        </p>
        <img src="/cl_map.png" alt="" />
      </div>
    </div>
  </section>
</Layout>

<style>
  p {
    font-family: "robotolight";
  }

  span {
    font-family: "robotobold_condensed";
    color: var(--primarycolor);
    text-decoration: underline;
  }

  span:hover {
    color: var(--primarycolor);
  }
  .container1 {
    background-color: var(--boxcolor1);
    padding: 1.3rem;
  }
  .grid_2-1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    max-width: 1000px;
    margin: 0 auto;
    padding: 5rem 0rem;
  }

  h5 {
    margin-top: 1.5rem;
  }

  .adresse {
    margin-top: 0rem;
    color: var(--secondarytext);
  }

  .adresse2 {
    color: var(--secondarytext);
    margin-bottom: 0.5rem;
  }
  section {
    background-color: var(--quinarybackground);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    color: #fff;
  }

  .gap {
    margin-bottom: 1rem;
  }
  a {
    font-family: "robotobold_condensed";
    text-decoration: none;
    font-size: 18px;
    color: var(--primarytext);
  }

  a:hover {
    color: var(--logocolor);
  }
  @media (min-width: 750px) {
    .grid_2-1 {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 2rem;
      max-width: 1000px;
      margin: 0 auto;
      padding: 10rem 0rem;
    }
  }
</style>
