---
const { title, content } = Astro.props;
import Layout from "../layouts/Layout.astro";
import "../css/generel2.css";
---

<Layout>
  <div class="accordion-wrapper">
    <details class="accordion">
      <summary>
        <span class="title-text">
          <h4>{title}</h4>
        </span>
        <span class="plus_icon">+ </span>
      </summary>
      <div class="content">
        <p>{content}</p>
      </div>
    </details>
  </div>
</Layout>

<style>
  .accordion-wrapper {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
  }

  details.accordion {
    border: none;
    padding: 0.2rem 0;
  }

  summary {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0.2rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.2rem;
    transition: 0.3s ease;
  }

  .plus_icon {
    margin-left: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
    transition: 0.3s ease;
  }

  details[open] .plus_icon {
    transform: rotate(45deg);
    transition: 0.3s ease;
  }

  .content {
    padding: 0.5rem 0 0.5rem 0;
    font-size: 0.95rem;
    line-height: 1.4;
  }

  .span {
    font-family: "robotobold_condensed";
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    color: var(--text-darkblue);
  }

  .content {
    font-size: 24px;
    line-height: 1.9rem;
    color: var(--text-darkblue);
  }

  h4:hover {
    transition: 0.3s;
    color: var(--logocolor);
  }

  @media (min-width: 768px) {
    summary {
      font-size: 1.1rem;
    }

    .content {
      font-size: 1.05rem;
    }
  }
</style>
