---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <footer>
    <div>
      <h3>Kea - Københavns Erhvervsakademi</h3>

      <li>Guldbergsgade 29N 2200 København N.</li>
      <li>Du skal ikke bare vide. Du skal kunne.</li>

      <img src="/public/facebook.svg" alt="" />
      <img src="/public/linkdin.svg" alt="" />
      <img src="/public/instagram.png" alt="" />
      <img src="/public/twitter.svg" alt="" />
      <img src="/public/youtube.svg" alt="" />
      <img class="podbean" src="/public/podbean.svg" alt="" />
    </div>
    <div>
      <h3>Vejledning</h3>

      <li>
        <a href="">Studieadministrationen</a>
      </li>
      <li><a href="">Studie- og Karrierevejledning</a></li>
      <li><a href="">SPS (specialpædagogisk støtte)</a></li>
      <li><a href="">SU-vejledning</a></li>
      <li><a href="">Praktik</a></li>
    </div>
    <div>
      <h3>Relevante Links</h3>

      <li><a href="">KEA Webmail</a></li>
      <li><a href="">KEA Bibliotek</a></li>
      <li><a href="">Studieviden</a></li>
      <li><a href="">Itslearning</a></li>
      <li><a href="">Fag- og modulkatalog</a></li>
      <li><a href="">Studieaktivitetsmodel</a></li>
      <li><a href="">PARIS-aftalen</a></li>
      <li><a href="">Ordensregler</a></li>
    </div>
    <div>
      <h3>Praktisk Info</h3>

      <li><a href="">Cookies og privatliv</a></li>
      <li><a href="">Persondatapolitik</a></li>
      <li><a href="">Tilgængelighedserklæring</a></li>
      <li><a href="">Find vej på KEA</a></li>
    </div>
  </footer>
</Layout>
<style>
  footer {
    background-color: rgba(35, 50, 73, 1);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
  }

  h3 {
    font-family: Helvetica, sans-serif;
    color: white;
  }
  li {
    margin-bottom: 10px;
  }
  li,
  a {
    font-family: Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    list-style: none;
  }
  img {
    height: 40px;
    width: 40px;
  }
  .podbean {
    height: 150px;
    width: 150px;
  }
</style>
