---
const { event, date, tekst } = Astro.props;
---

<div>
  <img src="/praktisk.webp" alt="" />
  <h3>Torsdagscafé: Repair Café</h3>
  <small>9. APRIL 2025 14.00-16.00</small>
  <p>
    Repair Café i Circular Lab hvor vi arbejder med den cirkulære
    forretningsmodel “reparation”. På denne workshop har vi fokus på lapning af
    tekstiler.
  </p>
</div>
