---
import InstagramCard from "./InstagramCard.astro";
import "../css/generel2.css";
---

<section>
  <div class="intagramboks">
    <h3>Hold dig opdateret på Circular Lab</h3>
    <p>
      <span>Følg med i livet på Circular Lab </span>
      – både det, der spirer i værkstedet og det, der sker i verden omkring os. På
      vores Instagram deler vi inspirerende citater, fun facts om cirkulær økonomi,
      materialestemninger direkte fra lab’et, og selvfølgelig indblik i vores events
      og workshops – før, under og efter de sker. <br /><br />

      Vi poster løbende om nye initiativer, eksperimenter og spændende tendenser
      inden for cirkulært design og bæredygtighed. Det er æstetisk, motiverende
      og fyldt med indhold, der både engagerer og inviterer til refleksion og
      handling.
    </p>
    <div class="grid_1-1-1">
      <InstagramCard
        url="https://www.instagram.com/p/DIeBlxnsXs8/?utm_source=ig_embed&utm_campaign=loading"
      />
      <InstagramCard
        url="https://www.instagram.com/p/DIKH8MQMdhA/?utm_source=ig_embed&utm_campaign=loading"
      />
      <InstagramCard
        url="https://www.instagram.com/p/DFu3ep0sVl-/?utm_source=ig_embed&utm_campaign=loading"
      />
    </div>
  </div>
</section>

<style>
  span {
    font-family: "robotobold_condensed";
  }
  p {
    font-family: "robotolight";
    max-width: 800px;
    font-size: 14px;
  }

  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-top: 1rem;
  }

  .intagramboks {
    max-width: 1000px;
    margin: 0 auto;
    padding: 3rem 0rem;
  }

  h5 {
    margin-top: 1.5rem;
  }

  section {
    background-color: var(--tertiarybackground);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  a {
    font-family: "robotobold_condensed";
    text-decoration: none;
    font-size: 18px;
    color: var(--primarytext);
  }

  a:hover {
    transition: 0.3s;
    color: var(--logocolor);
  }
  @media (min-width: 750px) {
    .grid_1-1-1 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2rem;
      margin-top: 2rem;
    }

    .intagramboks {
      max-width: 1000px;
      margin: 0 auto;
      padding: 5rem 0rem;
    }
  }
</style>
