---

---

<div class="orange-box">
  <h4>Praktisk</h4>
  <h5>åbningstider</h5>
  <p>Circular Lab er åbent mandag-fredag 8:30-22:00</p>
  <p>
    Du velkommen til at benytte lokalet i åbningstiden, så længe der ikke
    foregår undervisning, workshops eller andet.
  </p>
  <a href="">(Tjek vores kalender for at se kommende events).</a>

  <p>åbningstider for vejledning med Lab Manager:</p>
  <a href="">Se kalender.</a>

  <h5>Adgang til labbet</h5>
  <p>Labbet er placeret på Guldbergsgade 29N, Lokale A129.</p>

  <h5>Kontakt</h5>
  <p>E: <a href="">circular@kea.dk</a></p>
  <p>Nikolaj Storm Hauge Tost</p>
  <p>E: <a href="">nito@kea.dk</a></p>
</div>

<style>
  .orange-box {
    background-color: orange;
    padding: 10px 20px;
    color: white;
  }
  a {
    color: white;
    font-weight: 700;
    text-decoration: none;
  }
</style>
