---

---

<div class="orange-box">
  <h4>Praktisk</h4>
  <h5>Åbningstider</h5>
  <p class="p_white bottomspace">
    Circular Lab er åbent mandag-fredag 8:30-22:00.
  </p>
  <p class="p_white">
    Lokalet kan bruges i åbningstiden, så længe der ikke foregår undervisning,
    workshops eller andet.
  </p>
  <p class="bottomspace">
    <a href="/overview">(Tjek vores kalender for at se kommende events)</a>
  </p>

  <p class="p_white bottomspace">
    Åbningstider for vejledning med Lab Manager: <a href="">(Se kalender)</a>
  </p>

  <h5>Adgang til labbet</h5>
  <p class="p_white bottomspace">
    Labbet er placeret på Guldbergsgade 29N, Lokale A129.
  </p>

  <h5>Kontakt</h5>
  <p class="p_white">E: <a href="">circular@kea.dk</a></p>
  <p class="p_white">Nikolaj Storm Hauge Tost</p>
  <p class="p_white">E: <a href="">nito@kea.dk</a></p>
</div>

<style>
  .orange-box {
    background-color: var(--boxcolor1);
    padding: 40px 30px;
    color: var(--secondarytext);
  }
  a {
    font-family: "robotobold_condensed";
    color: var(--secondarytext);
    font-weight: 900;
    text-decoration: underline;
  }
  a:hover {
    transition: 0.3s;
    color: var(--logocolor);
  }

  h4,
  h5 {
    color: var(--secondarytext);
  }

  p {
    font-family: "robotolight";
    font-size: 14px;
    line-height: 1.6rem;
  }
  .bottomspace {
    margin-bottom: 0.9rem;
  }
</style>
